.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: lavenderblush;
    padding: 1rem;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}